<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf=8">
    <title>YELLOW STONE PAGE</title>
    <link rel="stylesheet" type="text/css" href="{%static 'detailstyle.css' %}">
</head>

<body>
    <header>
        <h1>{{post.title}}</h1>
    </header>

    <main>
        <div class="posts">
            {% if post.pub_date %}
                <div class="date">
                    {{post.pub_date}}
                </div>
            {%endif%}
            <p id=txt>{{post.body|linebreaks}}</p>
            {% if post.photo %}
                <img src="{{ post.photo.url }}" style="width:500px; height:500px; object-fit:contain;">
            {% endif %}
        </div>
        <br>
        <a href="{% url 'edit' index=post.pk%}"><button>수정하기</button></a>
        
        <a href="{% url 'delete' pk=post.pk %}"><button>삭제하기</button></a>
        
        <a href="{% url 'home'%}"><button>Home</button></a>
    </main>
</body>



