@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

@font-face {
  font-family: 'CookieRunOTF-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/CookieRunOTF-Bold00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CookieRun-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  line-height: 80%;
}
header {
  background-color: rgb(255, 226, 94);
  height: 100px;
  display: flex;
  align-items: center;
  padding: 10px 40px;
}

main {
  padding: 15px;
}
div{
  width:100%;
}

#image{
  width:500px;
  height:500px;
  object-fit:cover;
}

h1 {
  color: white;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: 'CookieRunOTF-Bold';
}
main {
  font-family: "CookieRun-Regular";
}

p {
  line-height: 120%;
}
a {
  text-decoration: none;
  color: rgb(255, 221, 70);
}
#title {
  font-size: 20px;
}
#txt{
  width:100%;
  word-break: break-all;
}

.date {
  font-size: 12px;
}


button {
  margin: 0;
  padding: 0.5rem 1rem;

  font-family: "CookieRun-Regular";
  font-size: 1rem;
  font-weight: 200;
  text-align: center;
  text-decoration: none;

  background-color: rgb(255, 226, 94);
  color: rgb(100, 100, 100);
  display: inline-block;
  width: auto;

  border: none;
  border-radius: 4px;

  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);

  cursor: pointer;

  transition: 0.5s;
}

