@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  line-height: 80%;
}
header {
  background-color: rgb(255, 94, 115);
  height: 100px;
  display: flex;
  align-items: center;
  padding: 10px;
}

main {
  padding: 15px;
}

h1 {
  color: white;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
main {
  font-family: "Noto Sans KR", sans-serif;
}

p {
  line-height: 120%;
}
a {
  text-decoration: none;
  color: hotpink;
}
#title {
  font-size: 20px;
}
#new {
  color: pink;
  font-size: 22px;
  border: pink 1px solid;
  border-radius: 3px;
  padding: 3px;
}

.date {
  font-size: 12px;
}

#feel {
  font-size: 15px;
  color: rgb(100, 100, 100);
  line-height: 80%;
}

#score {
  font-size: 15px;
  color: rgb(100, 100, 100);
  line-height: 80%;
}

h3 {
  color: powderblue;
  font-size: 25px;
}

#form {
  font-family: "Noto Sans KR", sans-serif;
  color: rgb(100, 100, 100);
}

input {
  background-color: rgb(255, 224, 229);
}
textarea {
  background-color: rgb(255, 224, 229);
}
select {
  background-color: rgb(255, 224, 229);
}

button {
  margin: 0;
  padding: 0.5rem 1rem;

  font-family: "Noto Sans KR", sans-serif;
  font-size: 1rem;
  font-weight: 200;
  text-align: center;
  text-decoration: none;

  background-color: pink;
  color: rgb(100, 100, 100);
  display: inline-block;
  width: auto;

  border: none;
  border-radius: 4px;

  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);

  cursor: pointer;

  transition: 0.5s;
}
